/* ---------------------- .less variable definitions --------- */
/*colors*//* sublimey colors */
/*fonts*//*classes*/.no-pad {
  margin: 0;
  padding: 0;
}
.zero-30 {
  background: #ffffff;
  /* Legacy */

  background: -moz-linear-gradient(top, #ffffff 0%, #dcdcdc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  /* Chrome, Safari4 */

  background: -webkit-linear-gradient(top, #ffffff 0%, #dcdcdc 100%);
  /* Chrome10+, Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #dcdcdc 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #dcdcdc 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #dcdcdc 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c4c4c4', GradientType=0);
  /* IE6-9 */

}
.sk {
  margin: 0;
  padding: 0;
  width: 25%;
  height: 270px;
  display: block;
  float: left;
}
/* --- end variable definitions --- */
/* --- base styles --- */
html,
body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
  color: #c7cacb;
  font-family: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  font-weight: 400;
  font-size: 72px;
}
h2 {
  margin: 0;
  padding: 0;
  color: #c7cacb;
  font-family: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  font-weight: 400;
}
h3 {
  margin: 0;
  padding: 0;
  color: #c7cacb;
  font-family: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding-top: 90px;
  text-align: center;
}
p {
  margin: 0;
  padding: 0;
  font-family: 'sintony', 'times', 'times new roman', serif;
  color: #292b2b;
}
/* --- story section intro styles --- */
#intro {
  display: block;
  height: 550px;
  width: 100%;
  padding-top: 100px;
}
.article {
  margin: 0;
  padding: 0;
  display: block;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}
.article h1 {
  padding-top: 130px;
}
#article {
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
}
#article p {
  width: 60%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: left;
}
#macbook {
  margin: 0;
  padding: 0;
  float: right;
  display: block;
  width: 50%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 135% auto;
  background-image: url('../images/macbook.png');
}
#bottom-grad {
  width: 100%;
  height: 100px;
  background: #ffffff;
  /* Legacy */

  background: -moz-linear-gradient(top, #ffffff 0%, #dcdcdc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  /* Chrome, Safari4 */

  background: -webkit-linear-gradient(top, #ffffff 0%, #dcdcdc 100%);
  /* Chrome10+, Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #dcdcdc 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #dcdcdc 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #dcdcdc 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c4c4c4', GradientType=0);
  /* IE6-9 */

}
#bottom-line {
  display: block;
  width: 100%;
  height: 10px;
  background-color: #d2d2d2;
}
/* --- story section 1 styles --- */
#story1 {
  display: block;
  height: 750px;
  width: 100%;
  background-image: url('../images/greyzz.png');
}
#story1 h2 {
  font-size: 32px;
  padding-top: 40px;
  text-align: center;
}
#story1 p {
  width: 40%;
  margin: 15px auto;
}
#azw {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  background-image: url('../images/ipad.png');
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#button {
  display: block;
  width: 200px;
  height: 70px;
  background-color: #c7cacb;
  margin: 30px auto;
}
#button h3 {
  margin: 0;
  padding: 0;
  padding: 21px 0;
  font-size: 22px;
  font-family: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  color: #fff;
}
#button a {
  text-decoration: none;
}
/* --- story section 2 styles --- */
#story2 {
  display: block;
  height: 750px;
  width: 100%;
  background-image: url('../images/greyzz.png');
  background-image: none;
}
#story2 h2 {
  font-size: 32px;
  padding-top: 40px;
  text-align: center;
}
#story2 p {
  width: 40%;
  margin: 15px auto;
}
#story2 h2 {
  font-size: 50px;
  color: #292b2b;
}
#adc-logo {
  width: 31%;
  height: 250px;
  display: block;
  margin: 20px 1%;
  float: left;
  background-image: url('../images/sp_alph.png');
  background-position: center center;
  background-size: 150% auto;
  background-repeat: no-repeat;
}
#article3 {
  margin: 0;
  padding: 0;
  width: 50%;
  width: 31%;
  display: block;
  float: left;
  margin: 0 1%;
}
#article3 p {
  width: 60%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: left;
}
#article3 p {
  width: 100%;
  margin: 0;
  padding-top: 70px;
}
#adc-sign {
  width: 31%;
  height: 250px;
  display: block;
  margin: 20px 1%;
  float: left;
  background-image: url('../images/sp_alph.png');
  background-position: center center;
  background-size: 150% auto;
  background-repeat: no-repeat;
  background-image: url('../images/adc-sign.png');
}
#button2 {
  display: block;
  width: 200px;
  height: 70px;
  background-color: #c7cacb;
  margin: 30px auto;
  margin: 100px auto;
}
#button2 h3 {
  margin: 0;
  padding: 0;
  padding: 21px 0;
  font-size: 22px;
  font-family: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  color: #fff;
}
#button2 a {
  text-decoration: none;
}
#wrap {
  width: 90%;
  height: 250px;
  display: block;
  margin: 80px auto;
}
/* --- story section 3 styles --- */
#story3 {
  display: block;
  height: 750px;
  width: 100%;
  background-image: url('../images/greyzz.png');
  background-image: none;
  margin-top: 50px;
}
#story3 h2 {
  font-size: 32px;
  padding-top: 40px;
  text-align: center;
}
#story3 p {
  width: 40%;
  margin: 15px auto;
}
#story3 h2 {
  font-size: 50px;
  color: #292b2b;
}
#sk-a1,
#sk-a2,
#sk-a3,
#sk-a4,
#sk-b1,
#sk-b2,
#sk-b3,
#sk-b4,
#sk-c1,
#sk-c2,
#sk-c3,
#sk-c4 {
  margin: 0;
  padding: 0;
  width: 25%;
  height: 270px;
  display: block;
  float: left;
}
#sk-a1 p,
#sk-a2 p,
#sk-a3 p,
#sk-a4 p,
#sk-b1 p,
#sk-b2 p,
#sk-b3 p,
#sk-b4 p,
#sk-c1 p,
#sk-c2 p,
#sk-c3 p,
#sk-c4 p {
  width: auto;
  padding: 20px;
}
#sk-a1 {
  background-image: url('../images/t120-1.png');
  background-position: top left;
}
#sk-a2 {
  background-image: url('../images/ticks.png');
  background-position: top left;
}
#sk-a3 {
  background-image: url('../images/fanuc.png');
  background-position: center center;
}
#sk-a4 {
  background-image: url('../images/faces.png');
  background-position: top center;
}
#sk-b1 {
  background-image: url('../images/ale_fiber.png');
  background-position: top center;
}
#sk-b2 {
  background-image: url('../images/thedevil.png');
  background-position: top center;
  background-size: 100% auto;
}
#sk-b4 {
  background-image: url('../images/code-01.png');
  background-position: top center;
  background-size: 100% auto;
}
#article4 {
  height: 600px;
}
#button3 {
  display: block;
  width: 200px;
  height: 70px;
  background-color: #c7cacb;
  margin: 30px auto;
  width: 300px;
}
#button3 h3 {
  margin: 0;
  padding: 0;
  padding: 21px 0;
  font-size: 22px;
  font-family: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  color: #fff;
}
#button3 a {
  text-decoration: none;
}
/* --- story section 4 styles --- */
#story4 {
  display: block;
  height: 750px;
  width: 100%;
  background-image: url('../images/greyzz.png');
  background-image: none;
  margin-top: 50px;
}
#story4 h2 {
  font-size: 32px;
  padding-top: 40px;
  text-align: center;
}
#story4 p {
  width: 40%;
  margin: 15px auto;
}
#story4 h2 {
  font-size: 50px;
  color: #292b2b;
}
#skills-graph {
  width: 90%;
  height: 750px;
  margin: 0 auto;
  display: block;
}
#skills-graph h2 {
  width: 111%;
  float: right;
  display: block;
}
#graph-top {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 150px;
  display: block;
  float: right;
}
#litem {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 20%;
  height: 40px;
}
#skill-icons {
  margin: 0;
  padding: 0;
  width: 10%;
  padding-top: 155px;
  height: 550px;
}
#skill-icons img {
  width: 40px;
  height: 40px;
  float: right;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 10px;
}
#graph-bars {
  width: 90%;
  height: 600px;
  float: right;
}
#graph-bars p {
  margin: 0;
  padding: 0;
  width: auto;
  padding-top: 4px;
  padding-left: 10px;
  color: #333;
}
#graph-pad {
  width: 100%;
  height: 5px;
  display: block;
  float: left;
}
#master {
  width: 90%;
  height: 30px;
  margin: 10px 0;
  display: block;
  float: left;
  background-color: black;
}
#average {
  width: 90%;
  height: 30px;
  margin: 10px 0;
  display: block;
  float: left;
  background-color: black;
  width: 51%;
}
#advanced {
  width: 90%;
  height: 30px;
  margin: 10px 0;
  display: block;
  float: left;
  background-color: black;
  width: 70%;
}
#novice {
  width: 90%;
  height: 30px;
  margin: 10px 0;
  display: block;
  float: left;
  background-color: black;
  width: 31%;
}
/* --- footer styles --- */
#footer {
  width: 100%;
  height: 470px;
  display: block;
  background-image: url('../images/binding_dark.png');
}
#footer img {
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: block;
}
#footer h2,
#footer h3,
#footer p {
  padding-top: 10px;
  color: #70763c;
  text-align: center;
}
#footer h2 {
  padding-top: 30px;
  font-size: 38px;
  color: #c13471;
}
#footer p {
  color: #bbbd2d;
  font-size: 14px;
}
#footer-nh {
  width: 100%;
  height: 470px;
  display: block;
  background-image: url('../images/binding_dark.png');
  height: 300px;
}
#footer-nh img {
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: block;
}
#footer-nh h2,
#footer-nh h3,
#footer-nh p {
  padding-top: 10px;
  color: #70763c;
  text-align: center;
}
#footer-nh h2 {
  padding-top: 30px;
  font-size: 38px;
  color: #c13471;
}
#footer-nh p {
  color: #bbbd2d;
  font-size: 14px;
}
#buttons {
  width: 440px;
  height: 100px;
  margin: 40px auto;
}
#button-work {
  width: 200px;
  height: 70px;
  background-color: #c7cacb;
  margin: 30px auto;
  display: block;
  float: left;
  margin: 0 10px;
}
#button-work h3 {
  margin: 0;
  padding: 0;
  padding: 21px 0;
  font-size: 22px;
  font-family: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  color: #fff;
}
#button-work a {
  text-decoration: none;
}
#button-work h2 {
  font-size: 28px;
  padding: 15px 0 22px 0;
  color: #fff;
}
/* --- Projects page styles --- */
#article-projects {
  margin-bottom: 40px;
}
#article-projects h2 {
  text-align: center;
  font-size: 40px;
  color: #292b2b;
  padding-bottom: 15px;
}
#article-projects p {
  width: 40%;
  margin: 5px auto;
}
#project-title h2 {
  text-align: center;
  padding: 15px;
}
#webinfoboxes {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}
#webinfoboxes a {
  display: block;
  width: 100%;
  height: 450px;
}
#webinfoboxes article {
  position: relative;
  float: left;
  margin: 0 1%;
  width: 31%;
  background-color: #292b2b;
  box-shadow: 5px 5px 15px #bbbbbb;
  opacity: 0.8;
  /*------------- This Is The Off Switch -----------*/

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#webinfoboxes article:hover {
  opacity: 1;
  transition: all 0.5s linear;
}
#checks {
  font-family: 'ubuntu';
  color: #bbbd2d;
  padding: 0px 10px 0px 0px;
}
#project1 {
  height: 450px;
  background-image: url('../images/azw_home.png');
  background-position: center center;
  background-size: auto 100%;
}
#project2 {
  height: 450px;
  background-image: url('../images/azw_home.png');
  background-position: center center;
  background-size: auto 100%;
  background-image: url('../images/adc_home.png');
}
#project3 {
  height: 450px;
  background-image: url('../images/azw_home.png');
  background-position: center center;
  background-size: auto 100%;
  background-image: url('../images/snworks.png');
}
#intro-w {
  display: block;
  height: 550px;
  width: 100%;
  padding-top: 100px;
  height: 1000px;
}
/* --- Universal Portfolio Project page styles --- */
#proj-bottom {
  display: block;
  height: 750px;
  width: 100%;
  background-image: url('../images/greyzz.png');
  background-image: none;
  height: 200px;
}
#proj-bottom h2 {
  font-size: 32px;
  padding-top: 40px;
  text-align: center;
}
#proj-bottom p {
  width: 40%;
  margin: 15px auto;
}
#proj-bottom h2 {
  font-size: 50px;
  color: #292b2b;
}
#proj-buttons {
  width: 440px;
  height: 100px;
  margin: 110px auto 0 auto;
}
#proj-buttons #button-proj {
  display: block;
  width: 200px;
  height: 70px;
  background-color: #c7cacb;
  margin: 30px auto;
  margin: 100px auto;
  margin: 50px 10px;
  float: left;
}
#proj-buttons #button-proj h3 {
  margin: 0;
  padding: 0;
  padding: 21px 0;
  font-size: 22px;
  font-family: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  color: #fff;
}
#proj-buttons #button-proj a {
  text-decoration: none;
}
/* --- Alpha Dog Customs Portfolio Project page styles --- */

#story-ad {
  display: block;
  height: 750px;
  width: 100%;
  height: 3550px;
}
#story-ad h2 {
  font-size: 32px;
  padding-top: 40px;
  text-align: center;
}
#story-ad p {
  width: 40%;
  margin: 15px auto;
}
#story-ad img {
  width: 80%;
  height: auto;
  display: block;
  margin: 20px auto;
}
#sp {
  width: 80%;
  margin: 20px auto 30px auto;
  display: block;
  padding: 0;
  height: 1px;
  background-color: #292b2b;
}
#intro-ad {
  width: 50%;
  margin: 0 auto;
}
#intro-ad h2 {
  text-align: center;
  font-size: 40px;
  color: #292b2b;
  margin: 40px 0 20px 0;
}
#intro-ad p {
  padding: 5px 0;
}
#checklist {
  width: 250px;
  margin: 0 auto 90px auto;
}
#checklist img {
  margin: 0;
  padding: 0;
  width: auto;
  height: 1em;
  float: left;
  margin-right: 6px;
}
#checklist p {
  margin: 0;
  padding: 0;
  width: auto;
  margin: 8px 0;
}
#proj-bottom {
  display: block;
  height: 750px;
  width: 100%;
  background-image: url('../images/greyzz.png');
  background-image: none;
  height: 200px;
}
#proj-bottom h2 {
  font-size: 32px;
  padding-top: 40px;
  text-align: center;
}
#proj-bottom p {
  width: 40%;
  margin: 15px auto;
}
#proj-bottom h2 {
  font-size: 50px;
  color: #292b2b;
}
#proj-buttons {
  width: 440px;
  height: 100px;
  margin: 110px auto 0 auto;
}
#proj-buttons #button-proj {
  display: block;
  width: 200px;
  height: 70px;
  background-color: #c7cacb;
  margin: 30px auto;
  margin: 100px auto;
  margin: 50px 10px;
  float: left;
}
#proj-buttons #button-proj h3 {
  margin: 0;
  padding: 0;
  padding: 21px 0;
  font-size: 22px;
  font-family: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  color: #fff;
}





#button-proj
	{
	text-decoration: none;
	}


/*
#graph-top
	{
	.no-pad;
	width: 87%;
	height: 150px;
	display: block;
	float: right;
	background-color: purple;
	ul
		{
		.no-pad;
		display: block;
		list-style: none;
		width: auto;
		
		li
			{
			.no-pad;
			display: inline;
			padding: 0 6%;
			float: left:
			width: 20%;
			text-align: center;
			background-color: yellow;
			}
		}	
	}
*/