/* portfolio.less stand alone styles for /portfolio.html with fancybox and parallax scrolling */
/*colors*//* sublimey colors */
/*fonts*/
#portfolio-intro {
  text-align: center;
  padding: 40px 0 20px 0;
}
#portfolio-intro h2 {
  font-size: 30px;
  color: #326574;
  padding: 0 0 5px 0;
}
#portfolio-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
#portfolio-wrapper a {
  width: 80%;
}
.project1-styles {
  width: 99%;
  height: 80vh;
  margin: 0 auto;
  display: block;
}
.sp {
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 40px;
  background-color: #fff;
}
#project-bfa {
  width: 99%;
  height: 80vh;
  margin: 0 auto;
  display: block;
  background: #ffffff url("../portfolio/bfa-video.png") no-repeat center center;
  background-size: auto 90%;
  transition: all 1.5s ease;
}
.onhover {
  display: none;
}
#project-bfa:hover {
  background-size: auto 92%;
  transition: all 1.5s ease;
}
#project-azw {
  width: 99%;
  height: 80vh;
  margin: 0 auto;
  display: block;
  background: #ffffff url("../portfolio/azw-imac.png") no-repeat center center;
  background-size: auto 90%;
  transition: all 1.5s ease;
}
#project-azw:hover {
  background-size: auto 92%;
  transition: all 1.5s ease;
}
#project-snworks {
  width: 99%;
  height: 80vh;
  margin: 0 auto;
  display: block;
  background: #ffffff url("../portfolio/snworks-floater.png") no-repeat center center;
  background-size: auto 90%;
  transition: all 1.5s ease;
}
#project-snworks:hover {
  background-size: auto 92%;
  transition: all 1.5s ease;
}
#project-shadow {
  width: 99%;
  height: 80vh;
  margin: 0 auto;
  display: block;
  background: #ffffff url("../portfolio/shadow-floater-02.png") no-repeat center center;
  background-size: auto 90%;
  transition: all 1.5s ease;
}
#project-shadow:hover {
  background-size: auto 92%;
  transition: all 1.5s ease;
}
#project-ubuntu {
  width: 99%;
  height: 80vh;
  margin: 0 auto;
  display: block;
  background: #ffffff url("../portfolio/ubuntu-imac.png") no-repeat center center;
  background-size: auto 90%;
  transition: all 1.5s ease;
}
#project-ubuntu:hover {
  background-size: auto 92%;
  transition: all 1.5s ease;
}
#project-illustration {
  width: 99%;
  height: 80vh;
  margin: 0 auto;
  display: block;
  background: #ffffff url("../portfolio/vikings.png") no-repeat center center;
  background-size: auto 90%;
  transition: all 1.5s ease;
}
#project-illustration:hover {
  background-size: auto 92%;
  transition: all 1.5s ease;
}
#grid-wrapper {
  padding-top: 100px;
  width: 100%;
  height: 105vw;
}
.portfolio-grid {
  width: 19%;
  height: 19vw;
  float: left;
  margin: 10px 0.5%;
  overflow: hidden;
}
.portfolio-grid img {
  opacity: 1;
  transition: all 1.5s ease;
}
.portfolio-grid .filled {
  width: 100%;
  height: 100%;
  background-color: #fdc62a;
}
.portfolio-grid .filled p {
  color: #eee;
  text-align: center;
  padding: 30px 30px;
  color: #326574;
}
.portfolio-grid .filled p a {
  text-decoration: none;
  color: #f02225;
}
.portfolio-grid .filled p a:hover {
  color: #292b2b;
}
@media all and (max-width: 1279px) {
  .portfolio-grid {
    width: 24%;
    height: 24vw;
  }
  #grid-wrapper {
    height: 160vw;
  }
}
@media all and (max-width: 800px) {
  .portfolio-grid {
    width: 32%;
    height: 32vw;
  }
  #grid-wrapper {
    height: 300vw;
  }
}
.portfolio-grid:hover img {
  opacity: 0.6;
  transition: all 1.5s ease;
}
/*

Unfortunately, I couldn't get this to work. 
NOTE: research ways for hover state to affect un-nested elements. 
> seems to only affect nested elements.
transitions also seem not to affect changes in display: property

BEGIN ASSOCIATED HTML CODE
<div id="project-description">
			<img class="ae-img" src="images/cs6-05.png" alt="">
			<div id="text-description">
				<p class="aftereffects">
					Executed in Adobe After Effects
				</p>
				<p class="collaborative">
					Collaborative work with other designers
				</p>
				<p class="typography">
					Showcases heavy typography design
				</p>	
			</div>
		</div>	
END HTML CODE


#project-description
	{
	background-color: black;
	height: 30px;
	width: 30px;
	margin: 0 auto;
	}

.ae-img
	{
	width: 30px;
	height: auto;
	display: block;
	margin: 0 auto;
	}

.aftereffects, .collaborative, .typography
	{
	display: none;
	text-align: center;
	}

#project-description .ae-img:hover
	{
	background-color: red;
	}

#project-description:hover > #text-description .aftereffects
	{
	display: block;
	}
*/
