@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoC1CzjsGyNPYZvgw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(http://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyNPYZvgw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(http://fonts.gstatic.com/s/sintony/v5/XoHm2YDqR7-98cVUETMtuv0rnjo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 700;
  src: local('Sintony Bold'), local('Sintony-Bold'), url(http://fonts.gstatic.com/s/sintony/v5/XoHj2YDqR7-98cVUGYgIr9AJkxDq-C4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  font-size: 16px;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h1,
h2,
h3,
h4,
p,
a,
div,
span,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-family: 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #84bc14;
}
h2,
h3,
h4 {
  color: #f45c5c;
}
p,
a,
div,
span,
body {
  font-family: 'Sintony', 'Verdana', serif;
  font-weight: 400;
  color: #dcdccc;
}
a {
  text-decoration: none;
  color: #04cccb;
}
body {
  background-color: #222323;
}
img {
  max-width: 100%;
}
.newt {
  font-family: 'Lato';
  font-weight: 300;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 80%;
  max-width: 250px;
  height: 100%;
  background-color: #dcdccc;
}
.newt a {
  text-decoration: none;
}
.newt ul {
  padding: 0;
  margin: 0;
}
.newt ul li {
  margin: 0;
}
.newt ul li a p {
  color: #000000;
}
.newt-menu {
  width: 70px;
  height: 70px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 2;
}
.newt-menu .bar {
  width: 60%;
  height: 7px;
  margin: 8px auto;
  display: block;
  background-color: #dcdccc;
}
.newt-menu .bar:first-child {
  margin-top: 22px;
}
.newt-menu:hover {
  cursor: pointer;
}
.newt-menu:hover .bar {
  background-color: #f1f1ea;
}
@media all and (min-width: 440px) {
  .newt {
    width: 50%;
  }
}
.newt div.newt-spacer {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}
.newt div.newt-spacer svg {
  display: block;
  margin: 10px auto;
  height: 100px;
}
.newt ul {
  list-style: none;
}
.newt ul li {
  box-sizing: border-box;
  background-color: #dcdccc;
  clear: left;
}
@media all and (max-width: 768px) {
  .newt ul li {
    border-bottom: 1px solid #c7c7ae;
  }
}
.newt ul li a {
  color: #fff;
  width: 100%;
  display: block;
  padding: 5px 0;
  height: 27px;
  margin: 0;
}
.newt ul li a p {
  display: none;
  margin: 0;
  padding-top: 4px;
  padding-left: 20px;
}
.newt ul li:hover {
  background-color: #f1f1ea;
}
.newt ul li:first-child {
  margin-top: 20px;
}
.newt-mask {
  content: '';
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
@media all and (min-width: 768px) {
  .newt-mask {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.newt-mask:hover {
  cursor: pointer;
}
pre {
  position: relative;
  tab-size: 0;
  -moz-tab-size: 0;
}
pre.text-wrap {
  white-space: pre-wrap;
}
@keyframes pulse_size {
  from {
    width: 70px;
    height: 70px;
    fill: rgba(244, 92, 92, 0.5);
    filter: drop-shadow(0 0 0 #222);
  }
  to {
    width: 80px;
    height: 80px;
    fill: #f45c5c;
    margin-top: -5px;
    filter: drop-shadow(0 0 10px rgba(254, 235, 235, 0.5));
  }
}
@keyframes pulse_bkg {
  from {
    text-shadow: 0 0 0 #222323;
  }
  to {
    text-shadow: 3px 0 8px #000000;
  }
}
.toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Sintony', 'Verdana', serif;
  background-color: #090909;
}
.toggle span {
  display: none;
}
.toggle span.active {
  display: inline-block;
}
.btn {
  color: #222323;
  background-color: #dcdccc;
  padding: 5px 20px;
  border-radius: 2px;
  border: none;
  text-align: center;
  display: inline-block;
  font-family: 'Ubuntu', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.btn span {
  color: #222323;
}
.btn span.down {
  display: inline-block;
  transform: rotate(90deg) translateX(2px) translateY(-2px);
}
.btn-wrapper {
  display: inline-block;
  position: relative;
  padding-top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.btn-wrapper .btn {
  transition: all 300ms ease-in-out;
}
.btn-wrapper .btn:hover {
  padding: 5px 24px;
}
.story {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.story .btn-wrapper {
  padding-top: 40px;
}
.story p {
  padding: 6px 0;
}
.story .content,
.story .wrapper {
  max-width: 400px;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;
}
.story .content h1,
.story .wrapper h1 {
  font-size: 3rem;
}
.story .content h2,
.story .wrapper h2 {
  font-size: 4rem;
}
@media all and (max-width: 840px) {
  .story .content h2,
  .story .wrapper h2 {
    font-size: 2rem;
  }
}
.story .content:before,
.story .wrapper:before {
  content: '';
  padding-top: 200px;
  display: block;
}
@media all and (max-width: 840px) {
  .story .content:before,
  .story .wrapper:before {
    padding-top: 80px;
  }
}
.story .content:after,
.story .wrapper:after {
  content: '';
  display: block;
  padding-bottom: 300px;
}
@media all and (max-width: 840px) {
  .story .content:after,
  .story .wrapper:after {
    padding-bottom: 120px;
  }
}
.story .content {
  max-width: 800px;
}
.side-by-side {
  position: relative;
}
.side-by-side .shorter {
  left: 25%;
  position: absolute;
  top: 0;
}
.side-by-side .taller {
  left: 75%;
  padding: 0;
}
@media all and (max-width: 840px) {
  .side-by-side .shorter,
  .side-by-side .taller {
    left: 50%;
    position: relative;
  }
  .side-by-side .taller {
    max-width: 900px;
    width: 90%;
  }
}
#top {
  position: relative;
}
#top .wrapper {
  left: 25%;
}
#top .wrapper h1:before {
  padding-top: 200px;
}
#top .wrapper > *:last-child:after {
  padding-bottom: 300px;
}
#top img {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin: 0 auto;
  display: block;
}
@media all and (max-width: 840px) {
  #top .wrapper {
    width: 90%;
    max-width: 500px;
    left: 50%;
  }
  #top .wrapper h1 {
    text-align: center;
  }
  #top .wrapper:after {
    padding-bottom: 30px;
  }
  #top img {
    width: 90%;
    max-width: 400px;
    position: static;
    transform: translateY(0);
  }
}
#tmpcompany {
  background-image: url("../images/hiker.png");
}
#tmpcompany .wrapper {
  left: 25%;
  background-color: rgba(34, 35, 35, 0.5);
}
#tmpcompany .wrapper h2 {
  color: #dcdccc;
}
@media all and (max-width: 840px) {
  #tmpcompany {
    background-position: 100% 50%;
  }
  #tmpcompany .wrapper {
    width: 100%;
    max-width: 100%;
    left: 0;
    transform: translateX(0);
    padding: 0;
  }
  #tmpcompany .wrapper h2 {
    text-align: center;
  }
  #tmpcompany .wrapper h2,
  #tmpcompany .wrapper p {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
  }
}
#newt {
  overflow: hidden;
}
#newt .arrow {
  position: relative;
  left: 100px;
  height: 70px;
}
#newt .arrow svg {
  fill: #f45c5c;
  width: 70px;
  height: 70px;
  animation-name: pulse_size;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
#newt h2 {
  animation-name: pulse_bkg;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
#newt-code .wrapper {
  left: 25%;
}
@media all and (max-width: 840px) {
  #newt-code .wrapper {
    left: 50%;
  }
}
#newt-code .wrapper:before,
#newt-code .content:before {
  padding-top: 0;
}
#newt-code .wrapper:after,
#newt-code .content:after {
  padding-bottom: 100px;
}
@media all and (max-width: 840px) {
  #newt-code .wrapper:after,
  #newt-code .content:after {
    padding-bottom: 10px;
  }
}
#american-heart {
  background-image: url("../images/jogger.png");
}
#american-heart h2 {
  color: #dcdccc;
  font-weight: 700;
  font-size: 2rem;
}
#american-heart .wrapper {
  left: 75%;
  max-width: calc(50% - 40px);
  background-color: rgba(34, 35, 35, 0.7);
}
#american-heart .wrapper img {
  max-width: 300px;
  margin: 0 auto;
  display: block;
}
@media all and (max-width: 840px) {
  #american-heart .wrapper img {
    width: 200px;
    max-width: 90%;
    margin-bottom: 20px;
  }
}
#american-heart .wrapper h2,
#american-heart .wrapper p {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}
@media all and (max-width: 840px) {
  #american-heart .wrapper h2 {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 840px) {
  #american-heart {
    background-position: 20% 50%;
  }
  #american-heart .wrapper {
    max-width: 100%;
    width: 100%;
    left: 0;
    transform: translateX(0);
    padding: 0;
  }
}
#photoshop {
  background-image: url("../images/usah/usah-refl-02.png");
}
#photoshop .wrapper {
  max-width: 600px;
}
#photoshop .wrapper p {
  color: #222323;
}
#photoshop .wrapper h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #222323;
}
#photoshop .wrapper:before {
  padding-top: 600px;
}
#photoshop .wrapper:after {
  padding-bottom: 50px;
}
@media all and (max-width: 840px) {
  #photoshop {
    background-position: 0% 0%;
    background-size: 250% auto;
  }
  #photoshop .wrapper {
    background-color: rgba(34, 35, 35, 0.7);
  }
  #photoshop .wrapper h2,
  #photoshop .wrapper p {
    color: white;
    width: 90%;
    margin: 0 auto;
  }
  #photoshop .wrapper:before {
    padding-top: 60px;
  }
}
@media all and (max-width: 425px) {
  #photoshop .wrapper {
    width: 100%;
  }
}
#hockey {
  background-color: #1bbad4;
}
#hockey img {
  max-width: 95%;
  margin: 0 auto;
  display: block;
  padding: 20px 0;
}
#hockey h3,
#hockey p {
  color: #222323;
  max-width: 400px;
  margin: 0 auto;
}
#hockey h3:last-child,
#hockey p:last-child {
  padding-bottom: 50px;
}
#hockey span {
  color: #222323;
}
#hockey h3 {
  font-size: 1.5rem;
  padding: 10px 0;
  font-weight: 700;
  text-align: center;
}
#hockey a {
  color: #090909;
  font-weight: 700;
}
@media all and (max-width: 767px) {
  #hockey .desk-only {
    display: none;
  }
}
@media all and (min-width: 767px) {
  #hockey .mob-only {
    display: none;
  }
}
#cv {
  padding: 50px 0;
}
#cv h2,
#cv h3,
#cv p {
  color: #84bc14;
  font-family: 'Ubuntu', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 20px 0;
  clear: both;
}
#cv p {
  padding: 0;
}
#cv .cv-table {
  font-size: 0.75rem;
  width: 90%;
  margin: 10px auto;
  display: block;
  max-width: 600px;
  border: 2px solid #3b3d3d;
  border-top: 1px solid #3b3d3d;
}
#cv .cv-table:after {
  content: '';
  display: block;
  clear: both;
}
#cv .cv-table h3 {
  font-size: 1.25rem;
}
#cv .cv-table span {
  font-weight: 700;
}
#cv .cv-table .full,
#cv .cv-table .left,
#cv .cv-table .right {
  border-top: 1px solid #3b3d3d;
  box-sizing: border-box;
  padding: 5px 8px;
}
#cv .cv-table .full {
  float: left;
  width: 100%;
}
#cv .cv-table .left {
  width: 50%;
  float: left;
}
#cv .cv-table .right {
  width: 50%;
  float: left;
  border-left: 1px solid #3b3d3d;
}
#cv .cv-table ul li {
  list-style: none;
}
#cv .cv-table .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#cv .cv-table img {
  max-height: 40px;
  margin: 5px;
}
.dismiss {
  font-size: 3rem;
  line-height: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
#console-modal {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(132, 188, 20, 0.8);
  border: 1px solid #84bc14;
  border-radius: 3px;
  padding: 10px 30px;
}
#console-modal h3,
#console-modal p {
  color: #f1f1ea;
  padding: 5px 0;
}
#console {
  display: none;
}
#console {
  display: none;
}
html.console {
  width: 75%;
  margin-left: 25%;
}
#console {
  width: 25%;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid #84bc14;
  background-color: #000000;
  box-sizing: border-box;
  overflow-y: scroll;
}
#console pre {
  tab-size: 4;
}
#console code {
  background-color: #000000;
  font-size: 0.9rem;
  color: #646445;
}
#console code span {
  font-family: monospace;
}
.less-sel {
  color: #84bc14;
}
.less-sel.active {
  color: #ade933;
}
.less-quot {
  color: #dcdccc;
}
.less-quot.active {
  color: #fbfbf9;
}
.less-var,
.less-el {
  color: #f45c5c;
}
.less-var.active,
.less-el.active {
  color: #f9a4a4;
}
.less-prop {
  color: #04cccb;
}
.less-prop.active {
  color: #22fbfa;
}
.less-val {
  color: #a48c5c;
}
.less-val.active {
  color: #bfaf8d;
}
#contact {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
#contact .wrapper {
  width: 100%;
}
#contact input {
  width: 90%;
  display: block;
  margin: 8px auto;
  transition: all 300ms ease-in-out;
  color: #9e9e71;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #84bc14;
}
#contact input:focus {
  width: 92%;
  padding: 5px calc(10px + 1%);
  box-shadow: 0px 0px 3px rgba(132, 188, 20, 0.5);
}
#contact h1,
#contact p {
  text-align: center;
}
#contact h1 {
  font-size: 2rem;
}
#contact textarea {
  width: 90%;
  display: block;
  background-color: #dcdccc;
  font-size: 16px;
  color: #222323;
  margin: 10px auto;
  border: 1px solid #84bc14;
  box-sizing: border-box;
  padding: 10px;
  resize: vertical;
}
