
	
/*colors*/		@gray: #c7cacb;
				@grayd: #292b2b;
				@green: #70763c;
				@ygreen: #bbbd2d;
				@yellow: #fdc62a;
				@pink: #c13471;
				@violet: #8765a6;
				@blue: #326574;
				
				@beta: #f02225;
				
				/* sublimey colors */
				
				
				

/*fonts*/			@ubuntu: 'ubuntu', 'helvetica neue', 'helvetica', 'arial', sans-serif;
				@sintony: 'sintony', 'times', 'times new roman', serif;

/*classes*/		.no-pad
					{
					margin: 0;
					padding: 0;
					}
				
				.zero-30
					{
					background: rgb(255,255,255); /* Legacy */
					background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(220,220,220,1))); /* Chrome, Safari4 */
					background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+, Safari5.1+ */
					background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
					}
				
				.sk
					{
					.no-pad;
					width: 25%;
					height: 270px;
					display: block;
					float: left;
					}
					
				@media all and (max-width: 1199px) and (min-width: 300px)
					{
					.deskonly
						{
						display: none;
						}
					}
				
				
				
/* --- end variable definitions --- */


#beta
	{
	width: 100%;
	height: auto;
	background-color: @beta;
	
	h2, p
		{
		padding-top: 10px;
		text-align: center;
		color: #fff;
		max-width: 80%;
		margin: 0 auto;
		}
	
	p
		{
		padding-bottom: 20px;
		}
	
	}


/* --- base styles --- */


html,
body
	{
	.no-pad;
	}

h1
	{
	.no-pad;
	color: @gray;
	font-family: @ubuntu;
	font-weight: 400;
	font-size: 72px;
	}

h2
	{
	.no-pad;
	color: @gray;
	font-family: @ubuntu;
	font-weight: 400;
	}

h3
	{
	.no-pad;
	color: @gray;
	font-family: @ubuntu;
	font-weight: 400;
	font-size: 24px;
	padding-top: 90px;
	text-align: center;
	}

p
	{
	.no-pad;
	font-family: @sintony;
	color: @grayd;
	}	

/* --- story section intro styles --- */

#intro
	{
	display: block;
	height: 550px;
	width: 100%;
	padding-top: 30px;
	}

.article
	{
	.no-pad;
	display: block;
	width: 80%;
	height: 500px;
	margin: 0 auto;
	background-color: #fff;
	text-align: center;

	h1
		{
		padding-top: 130px;
		}

	}


#article
	{
	.no-pad;
	width: 50%;
	float: left;
	padding-top: 70px;
	
	p
		{
		width: 60%;
		padding-top: 20px;
		margin: 0 auto;
		text-align: left;
		}
		
	}

#macbook
	{
	.no-pad;
	float: right;
	display: block;
	width: 50%;
	height: 570px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 135% auto;	
	background-image: url('../images/macbook.png');
	margin-top: 30px;
	}
	
@media all and (max-width: 1199px) and (min-width: 700px)
	{
	#intro
		{
		display: block;
		height: 450px;
		width: 100%;
		padding-top: 40px;
		}
		
	.article
		{
		.no-pad;
		display: block;
		width: 80%;
		height: 400px;
		margin: 0 auto;
		background-color: #fff;
		text-align: center;

		h1
			{
			padding-top: 90px;
			font-size: 56px;
			}
		}
		
	#macbook
		{
		height: 450px;
		margin-top: 25px;
		}
		
		
	}
	
	



#bottom-grad
	{
	width: 100%;
	height: 100px;
	.zero-30;
	}

#bottom-line
	{
	display: block;
	width: 100%;
	height: 10px;
	background-color: rgba(210,210,210,1);
	}




/* --- story section 1 styles --- */

#story1
	{
	display: block;
	height: 750px;
	width: 100%;
	padding-top: 50px;
	background-image: url('../images/textured_paper.png');

	h2
		{
		font-size: 32px;
		padding-top: 40px;
		text-align: center;
		color: @ygreen;
		}
	
	p
		{
		width: 40%;
		margin: 15px auto;
		}
	}

#azw
	{
	margin: 0;
	width: 100%;
	height: 300px;
	background-image: url('../images/ipad.png');
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	}

#button
	{
	display: block;
	width: 200px;
	height: 70px;
	background-color: @gray;
	margin: 30px auto;
	
	h3
		{
		.no-pad;
		padding: 21px 0;
		font-size: 22px;
		font-family: @ubuntu;
		color: #fff;
		}
	
	a
		{
		text-decoration: none;
		}	
	}



/* --- story section 2 styles --- */

#story2
	{
	#story1;
	.no-pad;
	background-image: none;
	height: 740px;
	}

#alphacover
	{
	width: 45%;
	height: 750px;
	float: left;
	display: block;
	background-image: url('../images/alpha_dog_cover.png');
	background-repeat: no-repeat;
	background-position: center right;
	}

#wrap
	{
	width: 40%;
	margin-left: 10%;
	height: 800px;
	display: block;
	float: left;
	
	h2
		{
		.no-pad;
		padding-top: 200px;
		color: @grayd;
		text-align: left;
		}
	}

#article3
	{
	#article;
	width: 100%;
	display: block;
	float: left;
	margin: 20px 0;
	padding: 50px 0;
	p
		{
		width: 70%;
		margin: 0;
		padding-top: 0px;
		}	
	}



#button2
	{
	#button;
	display: block;
	margin: 250px 0 0 0;
	}







/*
#adc-logo
	{
	width: 31%;
	height: 250px;
	display: block;
	margin: 20px 1%;
	float: left;
	background-image: url('../images/sp_alph.png');
	background-position: center center;
	background-size: 150% auto;
	background-repeat: no-repeat;
	}

#adc-sign
	{
	#adc-logo;
	background-image: url('../images/adc-sign.png');
	}

*/






/* --- story section 3 styles --- */

#story3
	{
	#story2;
	margin-top: 50px;
	}

#sk-a1, #sk-a2, #sk-a3, #sk-a4,
#sk-b1, #sk-b2, #sk-b3, #sk-b4,
#sk-c1, #sk-c2, #sk-c3, #sk-c4
	{
	.sk;
	p
		{
		width: auto;
		padding: 20px;
		}
	}

#sk-a1
	{
	background-image: url('../images/t120-1.png');
	background-position: top left;
	}

#sk-a2
	{
	background-image: url('../images/ticks.png');
	background-position: top left;
	h2
		{
		color: @grayd;
		font-size: 44px;
		}
	}

#sk-a3
	{
	background-image: url('../images/fanuc.png');
	background-position: center center;
	}

#sk-a4
	{
	background-image: url('../images/faces.png');
	background-position: top center;
	}

#sk-b1
	{
	background-image: url('../images/ale_fiber.png');
	background-position: top center;
	}

#sk-b2
	{
	background-image: url('../images/thedevil.png');
	background-position: top center;
	background-size: 100% auto;
	}

#sk-b4
	{
	background-image: url('../images/code-01.png');
	background-position: top center;
	background-size: 100% auto;
	}	



#article4
	{
	height: 600px;
	}

#button3
	{
	#button;
	width: 300px;
	}





/* --- story section 4 styles --- */

#story4
	{
	#story2;
	height: 900px;
	}

#graphwrapper
	{
	width: 65%;
	height: 750px;
	display: block;
	margin: 50px auto 60px auto;
	
	h2
		{
		text-align: center;
		padding-bottom: 20px;
		font-size: 32px;
		color: @grayd;
		}
	}

#graph
	{
	display: block;
	width: 49%;
	height: 640px;
	background-color: @grayd;
	float: left;
	
	h2
		{
		font-size: 24px;
		padding: 10px 0 15px 0;
		margin: 0;
		text-align: left;
		color: @ygreen;
		}
		
	p
		{
		padding-top: 590px;
		color: @gray;
		width: 90%;
		}	
	}

#paragraph
	{
	#graph;
	float: right;	
	
	h2
		{
		.no-pad;
		padding: 30px 0 0 20px;
		}
	
	img
		{
		width: 40px;
		padding-left: 20px;
		height: 40px;
		}
	
	h3
		{
		.no-pad;
		text-align: left;
		padding: 30px 0 10px 20px;
		color: @violet;
		}
	
	p
		{
		.no-pad;
		padding: 0 0 5px 30px;
		color: @gray;
		}		
	}

#skill-icons
	{
	width: 40px;
	padding: 20px 20px 0 20px;
	float: left;
	}

#skill-icons img
	{
	padding-bottom: 10px;
	width: 40px;
	height: 40px;
	}	

#skill-bars
	{
	margin: 20px 10px 0 0;
	width: 150px;
	height: 530px;
	display: block;
	float: left;
	
	h3
		{
		.no-pad;
		padding: 6px 0 22px 0;
		text-align: left;
		}
	}

#full
	{
	width: 100%;
	height: 40px;
	margin: 0 0 16px 0;
	background-color: black;
	}

#seventy
	{
	#full;
	width: 70%;
	}

#sixty
	{
	#full;
	width: 60%;
	}

#fifty
	{
	#full;
	width: 50%;
	}

#fourty-five
	{
	#full;
	width: 45%;
	}

#thirty
	{
	#full;
	width: 30%;
	}

#twenty-five
	{
	#full;
	width: 25%;
	}




/* --- story section 4 styles --- */


#story5
	{
	.no-pad;
	width: 100%;
	height: 300px;
	display: block;
	background-color: @grayd;

	}

#download-link
	{
	width: 40%;
	margin: 10px auto;
	padding-top: 125px;
	display: block;
	
	h2
		{
		text-align: center;
		font-size: 32px;
		
		a
			{
			color: @ygreen;
			text-decoration: none;
			}
		}
	}

#download-link h2 a:hover
	{
	text-decoration: underline;
	}


/* --- footer styles --- */


#footer
	{
	width: 100%;
	height: 470px;
	display: block;
	background-image: url('../images/binding_dark.png');
	
	img
		{
		padding-top: 30px;
		padding-bottom: 20px;
		margin: 0 auto;
		display: block;
		}
	h2, h3, p
		{
		padding-top: 10px;
		color: @green;
		text-align: center;
		}	
	h2
		{
		padding-top: 30px;
		font-size: 38px;
		color: @pink;
		}
	p
		{
		color: @ygreen;
		font-size: 14px;
		}	
	}

#footer-nh
	{
	#footer;
	height: 300px;
	}

#buttons
	{
	width: 200px;
	height: 100px;
	margin: 40px auto;
	}

#button-work
	{
	#button;
	display: block;
	float: left;
	margin: 0 auto;
	h2
		{
		font-size: 28px;
		padding: 15px 0 22px 0;
		color: #fff;
		}
	}




/* --- Projects page styles --- */










/* --- Universal Portfolio Project page styles --- */




#proj-bottom
	{
	#story2;
	height: 200px;
	}

#proj-buttons
	{
	width: 440px;
	height: 100px;
	margin: 110px auto 0 auto;

	#button-proj
		{
		#button2;
		margin: 50px 10px;
		float: left;
		}
	}






/* --- Alpha Dog Customs Portfolio Project page styles --- */

#intro-adcguns
	{
	width: 50%;
	margin: 0 auto;
	h2
		{
		text-align: center;
		font-size: 40px;
		color: @green;
		margin: 40px 0 20px 0;
		}
	p
		{
		padding: 5px 0;	
		}
		
	}

#story-adcguns
	{
	display: block;
	height: 750px;
	width: 100%;
	height: 3550px;

	h2
		{
		font-size: 32px;
		padding-top: 40px;
		text-align: center;
		}
	
	p
		{
		width: 40%;
		margin: 15px auto;
		}
		
	img
		{
		width: 80%;
		height: auto;
		display: block;
		margin: 20px auto;
		}

	}

#sp
	{
	width: 80%;
	margin: 20px auto 30px auto;
	display: block;
	padding: 0;
	height: 1px;
	background-color: @grayd;
	}	

#checklist
	{
	width: 250px;
	margin: 0 auto 90px auto;
	img
		{
		.no-pad;
		width: auto;
		height: 1em;
		float: left;
		margin-right: 6px;
		}
	p
		{
		.no-pad;
		width: auto;
		margin: 8px 0;
		}	
	}	

@media all and (min-width: 1400px)
	{
	#story-adcguns
		{
		height: 4550px;
		}
	}


/* --- Arizona Daily Wildcat Portfolio Project page styles --- */


#story-azw
	{
	#story2;
	height: 800px;
	
	img  
		{
		width: 80%;
		display: block;
		margin: 20px auto 0 auto;
		box-shadow: 10px 10px 15px #888888;
		}	
	
	h2
		{
		font-size: 32px;
		color: @gray;
		}	
	}

#story-wf
	{
	#story2;
	height: 800px;
	
	img
		{
		width: 60%;
		display: block;
		float: left;
		margin: 40px 5% 0 0;
		box-shadow: 10px 10px 15px #888;
		}
	
	h2
		{
		font-size: 36px;
		color: @gray;
		}
	
	p
		{
		float: right;
		width: 30%;
		margin: 40px 5% 0 0;
		}	
	
	}

#azwimages
	{
	width: 100%;
	img
		{
		display: block;
		width: 90%;
		height: auto;
		margin: 60px auto;
		box-shadow: 10px 10px 15px #ddd;
		}
	
	p
		{
		width: 50%;
		margin: 20px auto;
		}
	
	h2
		{
		width: 50%;
		margin: 20px auto;
		text-align: center;
		color: @grayd;
		}
	}	





/* --- SNWorks Brand Identity Portfolio Project page styles --- */




#story-snworks
	{
	#story-wf;
	height: 500px;
	h2
		{
		font-size: 32px;
		color: @gray;
		}	
	}

#snworksimages
	{
	#azwimages;
	img
		{
		width: 60%;
		}
	}

#snw-bleed
	{
	width: 100%;
	img
		{
		width: 100%;
		}
	}
	



/* --- Shadow League App Design Styles --- */




#story-sha
	{
	#story2;
	height: auto;
	
	img  
		{
		width: 100%;
		display: block;
		margin: 20px auto 0 auto;
		}	
	
	h2
		{
		font-size: 32px;
		color: @gray;
		}	
	}

#story-sha-wf
	{
	#story2;
	height: 900px;
	
	img
		{
		width: 60%;
		display: block;
		float: left;
		margin: 40px 5% 0 0;
		}
	
	h2
		{
		font-size: 36px;
		color: @gray;
		}
	
	p
		{
		float: right;
		width: 30%;
		margin: 40px 5% 0 0;
		}	
	
	}

#shaimages
	{
	width: 100%;
	img
		{
		display: block;
		width: 100%;
		height: auto;
		margin: 60px auto;
		}
	
	p
		{
		width: 50%;
		margin: 20px auto;
		}
	
	h2
		{
		width: 50%;
		margin: 20px auto;
		text-align: center;
		color: @grayd;
		}
	}	








	
	
	/* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- */
	/* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- */
	/* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- */
	/* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- */
	/* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- */
	/* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- */
	/* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- *//* --- Gallery --- */



#article-projects
	{
	margin-bottom: 40px;
	h2
		{
		text-align: center;
		font-size: 40px;
		color: @grayd;
		padding-bottom: 15px;
		}
	p
		{
		width: 40%;
		margin: 5px auto;
		}	
	}

#project-title
	{
	h2
		{
		text-align: center;
		padding: 15px;
		}
	}	

#webinfoboxes
	{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
	a
		{
		display: block;
		width: 100%;
		height: 20vw;	
		}
	}
	
#webinfoboxes article
	{
	position: relative;
	float: left;
	margin: 0;
	width: 50%;
	background-color: @grayd;
	opacity: 1;			/*------------- This Is The Off Switch -----------*/
	-webkit-transition: opacity 0.5s ease-in-out;
       -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
         -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
	}	
	
#webinfoboxes article:hover
	{
	opacity: 0.85;
	transition: all 0.5s linear;
	
	h2
		{
		color: @green;
		transition: all 0.5s linear;
		}
	
	}	
	
#checks
	{
	font-family: 'ubuntu';
	color: @ygreen;
	padding: 0px 10px 0px 0px;
	}		
	
#project1
	{
	height: 20vw;	
	background-image: url('../images/azw_home.png');
	background-position: center center;
	background-size: auto 100%;
	}
	
#project2
	{
	#project1;
	background-image: url('../images/adc_home.png');	
	}
	
#project3
	{	
	#project1;
	background-image: url('../images/snworks.png');	
	}

#project4
	{
	#project1;
	background-image: url('../gallery/gal_shadow-02.png');
	}
	
#intro-w
	{
	#intro;
	height: 900px;
	padding-top: 50px;
	}












#gallery-bg
	{
	display: block;
	width: 100%;
	/*
	height: 3500px;
	*/
	}
	
#gallery
	{
	height: 50vw;
	/*	background-image: url('../images/binding_dark.png'); */
	background-color: @grayd;
	
	img
		{
		width: 25%;
		height: auto;
		overflow: hidden;
		display: block;
		float: left;
		opacity: 0.5;
		-webkit-transition: opacity 0.25s ease-in-out;
	       -moz-transition: opacity 0.25s ease-in-out;
     	   -ms-transition: opacity 0.25s ease-in-out;
	         -o-transition: opacity 0.25s ease-in-out;
     	       transition: opacity 0.25s ease-in-out;
		}	
	}

@media all and (max-width: 1000px) and (min-width: 300px)
	{
	#gallery
	{
	height: 200vw;
	/*	background-image: url('../images/binding_dark.png'); */
	background-color: @grayd;
	
	img
		{
		width: 50%;
		height: auto;
		overflow: hidden;
		display: block;
		float: left;
		opacity: 0.5;
		-webkit-transition: opacity 0.25s ease-in-out;
	       -moz-transition: opacity 0.25s ease-in-out;
     	   -ms-transition: opacity 0.25s ease-in-out;
	         -o-transition: opacity 0.25s ease-in-out;
     	       transition: opacity 0.25s ease-in-out;
		}	
	}
	
	
	}


#gallery img:hover
	{
	opacity: 1;
	-webkit-transition: opacity 0.25s ease-in-out;
       -moz-transition: opacity 0.25s ease-in-out;
        -ms-transition: opacity 0.25s ease-in-out;
         -o-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
	}

#gallery3
	{
	height: 75vw;
	/*	background-image: url('../images/binding_dark.png'); */
	background-color: @grayd;
	
	img
		{
		width: 25%;
		height: auto;
		overflow: hidden;
		display: block;
		float: left;
		opacity: 0.5;
		-webkit-transition: opacity 0.25s ease-in-out;
	       -moz-transition: opacity 0.25s ease-in-out;
     	   -ms-transition: opacity 0.25s ease-in-out;
	         -o-transition: opacity 0.25s ease-in-out;
     	       transition: opacity 0.25s ease-in-out;
		}	
	}

@media all and (max-width: 1000px) and (min-width: 300px)
	{
	#gallery3
	{
	height: 250vw;
	/*	background-image: url('../images/binding_dark.png'); */
	background-color: @grayd;
	
	img
		{
		width: 50%;
		height: auto;
		overflow: hidden;
		display: block;
		float: left;
		opacity: 0.5;
		-webkit-transition: opacity 0.25s ease-in-out;
	       -moz-transition: opacity 0.25s ease-in-out;
     	   -ms-transition: opacity 0.25s ease-in-out;
	         -o-transition: opacity 0.25s ease-in-out;
     	       transition: opacity 0.25s ease-in-out;
		}	
	}
	
	
	}


#gallery3 img:hover
	{
	opacity: 1;
	-webkit-transition: opacity 0.25s ease-in-out;
       -moz-transition: opacity 0.25s ease-in-out;
        -ms-transition: opacity 0.25s ease-in-out;
         -o-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
	}


#gallery-top
	{
	
	h2
		{
		width: 60%;
		margin: 15px auto;
		padding-top: 10px;
		color: @grayd;
		font-size: 40px;
		text-align: center;
		}
	
	h3
		{
		width: 60%;
		margin: 15px auto;
		padding-top: 10px;
		color: @ygreen;
		}
	p
		{
		width: 50%;
		margin: 20px auto;
		text-align: center;
		}
	}

#gal_p
	{
	width: 25%;
	height: 25vw;
	display: inline;
	float: left;
	background-image: url('../images/ticks.png');
	
	p, h2
		{
		margin: 10px 20px 10px 20px;
		}
	h2
		{
		color: @ygreen;
		}
		
	}

@media all and (max-width: 1000px) and (min-width: 300px)
	{
	
	
	#gal_p
	{
	width: 50%;
	height: 50vw;
	display: inline;
	float: left;
	background-image: url('../images/ticks.png');
	
	p, h2
		{
		margin: 10px 20px 10px 20px;
		}
	h2
		{
		color: @ygreen;
		}
		
	}
	
	}


#gal_sp
	{
	width: 100%;
	height: 100px;
	display: block;
	
	}
	
#button-gal
	{
	#button;
	
	h2
		{
		.no-pad;
		text-align: center;
		width: 200px;
		height: 40px;
		padding: 20px 0 10px 0;
		color: @blue;
		}
	
	}










#about
	{
	width: 100%;
	padding: 50px 0 80px 0;
	background-image: url('../images/ticks.png');
	
	p
		{
		width: 50%;
		display: block;
		margin: 10px auto;
		color: @blue;
		}
	
	}



#contact
	{
	.no-pad;
	width: 100%;
	height: 500px;
	display: block;
	background-image: url('../images/binding_dark.png');

	}


#download-link-contact
	{
	width: 40%;
	margin: 0 auto;
	padding-top: 125px;
	display: block;
	
	h2
		{
		text-align: center;
		font-size: 32px;
		
		a
			{
			color: @ygreen;
			text-decoration: none;
			}
		}
	}

#download-link-contact h2 a:hover
	{
	text-decoration: underline;
	}

#thelastdivid
	{
	height: auto;
	}

